
.form {
    background-color: #f7f7f7;
    padding: 32px;
    max-width: 600px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 32px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: left;
}

.form__header {
    display: block;
    color: #333;
    font-weight: 300;
    padding-bottom: 16px;
    margin: 0 0 16px 0;
    border-bottom: 3px white solid;
    font-size: 1.8em;
}

.form_fieldset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.field__input {
    padding: 4px;
    margin: 8px 8px 8px 0;
    border-radius: 2px;
    font-size: 0.8em;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    font-weight: 300;
}

.field__label {
    font-weight: 300;
}

.footer__button {
    display: block;
    padding: 8px 16px;
    margin-top: 16px;
    border: none;
    border-radius: 3px;
    background-color: #61b2a7;
    font-weight: 400;
    font-size: 0.8em;
    cursor: pointer;
    color: white;
}

.footer__button:hover {
    opacity: 0.7;
}

.footer__button:disabled {
    opacity: 0.7;
    background-color: grey;
}

.footer__error {
    font-size: 0.9em;
    font-style: italic;
    color: salmon;
    display: none;  
}

.footer__error--display {
    display: block;
}


